@attribute [Microsoft.AspNetCore.Components.RouteAttribute(ConstantsUrl.CompteClubIndex)]
@inject ICompteClubTransactionService CompteClubTransactionService
@inject NavigationManager NavManager
@inject NotifierTitleService NotifierTitle

@if (compteClubFormulaireViewModel == null)
{
    <div class="spinner"></div>
}
else
{
<h1>Compte Club : @compteClubFormulaireViewModel.Sum(c => c.Somme).ToString("#,0")</h1>
}

@code {

    private CompteClubFormulaireViewModel[] compteClubFormulaireViewModel;

    protected override async Task OnInitializedAsync()
    {
        await NotifierTitle.Update(Lost.SharedLib.Constants.TitleTransactionIndex);

        compteClubFormulaireViewModel = await CompteClubTransactionService.GetAllAsync();
    }
}